*{box-sizing: content-box;}
.qw * {box-sizing: border-box;}
html,body,ul,h1,figure{margin: 0px;padding: 0px;line-height: 1;}
html{
	font-size: 625%;
	font-family: "Arial",sans-serif,'黑体',"微软雅黑","宋体";
	}
body{font-size:0.14rem;}
ul{ list-style: outside none none;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1} 
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
p{ margin-bottom:  15px;}
a{text-decoration:none !important;}
a{color: #7d7d7d;text-decoration:none;}
figcaption a {
	color: #7d7d7d;	
}

.header{
	width: 100%;
	height:550px;
	background-image: url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	position: relative;
}
/*导航条 搜索条 配合头部 在头部居中显示*/
.search{
	height: 72px;
	position: absolute;
	top: 50%;
	left: 50%;
	width:600px;
	margin-top: -24px;
	margin-left: -300px;
}
.search input{
	height: 48px;
	width:600px;
	padding-left: 25px;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid #FFFFFF;
	font-size: 0.18rem;
	color: #FFFFFF;
}
.search > .label{
	margin-top: 10px;color: #FFFFFF;
}
.search > .label a{
	color: #FFFFFF;
}

.search .magnifier {
	position: absolute;
	width:30px;
	height: 30px;
	right: 30px;
	top:10px;
	
}
/*导航条 可以单独拿出来使用*/
.navbar {
	border-bottom: 1px solid #e3e3e3;
	font-family: "黑体";
	height: 50px;
	width:100%;
	background-color:rgba(255,255,255,0.7);
}
.navbar > .nav{
	height: 50px;
	margin:0px auto;
	max-width:1349px;
	padding: 0px 80px;
}
.navbar > .nav h1 {
	height: 50px;
	width:98px;
	background-image: url(../img/logo.png);
	background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -10000px;
    float: left;
}
.navbar > .nav  ul{
	padding-left: 32px;
}
.navbar > .nav  li{
	font-size:0.18rem;
	padding: 16px 4px 4px 4px;
	float: left;
	margin-right: 20px;
}
.navbar > .nav  li  a{
	color:#000000;
}
.navbar > .nav  li:hover{
	border-bottom: 3px solid #2863b4;
}
.navbar .action{ 
	color:#2863b4;
	border-bottom: 3px solid #2863b4;
}
.navbar .publish{
	font-size:0.20rem;
	height: 55px;
	background-color: #2863B4;
	color: #ffffff;
	text-align: center;
	line-height:55px;
	padding: 0px 15px;
	margin-left: 20px;
	border-radius: 0px 0px 10px 10px;
	}
.navbar .login{
	font-size:0.18rem;
	text-align: center;
	height: 50px;
	line-height:50px;
}
/*  */
.center{
  position: relative;
  z-index: 2;
  width:1266px;
  margin:  0 auto;
  margin-top: -112px;
}
.center .scrollbar {
	height: 360px;
	padding-top: 10px;
	margin-bottom: 90px;
}
.center .scrollbar .background{
	background-color: #FFFFFF;
	box-shadow: 3px 3px 8px  3px #efeeee;
	height:360px;
	padding: 20px;
	position: relative;
}
.center .scrollbar .background .title{
				position: absolute;
				bottom:20px;
				left: 90px;
				width:844px;
				height: 50px;
				background-color: rgba(0,0,0,0.5);
				line-height: 50px;
			}
			.center .scrollbar .background .title span{
				display: inline-block;
				margin-left: 20px;
				color: #FFFFFF;
				
			}
			.center .scrollbar .background .prev {
				position: absolute;
				height: 90px;
				width:40px;
				z-index: 999;
    			left:90px;
    			top:50%;
				margin-top: -55px;
				border-radius: 5px;
			}
			.center .scrollbar .background .prev span{
				height: 34px;
				width:18px;
				background-image: url(../img/icon/icon-5.png);
				background-position: 0px 0px;
    			background-repeat: no-repeat;
    			display: inline-block;
    			position: absolute;
    			left:11px;
    			top:28px;
    		}
    		.center .scrollbar .background .next{
    			background-color: rgba(255,255,255,0.5);
				border-radius: 5px;
    			top:50%;
				margin-top: -55px;
				left:894px;
				position: absolute;
				z-index: 999;
				height: 90px;
				width:40px;
			}
			.center .scrollbar .background .next span{
				left:11px;
    			top:28px;
    			position: absolute;
				display: inline-block;
				height: 34px;
				width:18px;
				background-image: url(../img/icon/icon-5.png);
				background-position: 0px -34px;
    			background-repeat: no-repeat;
    		}
.center .scrollbar figure {
	margin:  0 auto;
	margin-top: 10px;
	width:1124px; 
}
.center .scrollbar figure img {
	float: left;
}
.exhibitionMain {
	margin-left: 40px;
	width:100%;
}
.exhibitionMain .exhibition figure{ 
	float: left;
	padding: 10px 20px;
	text-align: center;
	width:160px;
	overflow: hidden;
	text-align: center;
	height: 265px;
	}
.exhibitionMain  .exhibition figure figcaption{ 
	padding-top:5px;
	}
.exhibitionMain  .exhibition figure img{ 
	width:156px;
	height: 236px;
	overflow: hidden;
	border-radius: 5px;
	border: solid 2px #e7e5e6;
	
}	
.centerMain {
	margin-left: 45px;
	width:100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.centerMain-left {
	width:871px;
	height: 570px;
	float: left;
}
.centerMain-right{
	padding-left: 30px;
	width:329px;
	height: 560px;
	float: left;
}
.max-img{
	width:320px;
	height: 477px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.max-img > figure >img{
	margin-bottom:10px;
	border-radius: 10px;
	border: solid 1px #e7e5e6;
	width:100%;
	height: 436px;
	overflow: hidden;
}
.max-img > figure > figcaption{
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	white-space:nowrap;
}
.min-img{
	width:537px;
	height: 477px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.min-img > .min-img-center{
	width:100%;
	height: 11px;
	margin-bottom: 20px
}
.min-img > .min-img-index{
	width:100%;
	height: 213px;
	margin-bottom: 13px;
}
.min-img > .min-img-index figure{
	padding-left: 3px;
	float: left;
	overflow: hidden;
	width:130px;
	height: 220px;
}
.min-img > .min-img-index  > figure img{
	overflow: hidden;
	border-radius: 5px;
	border: solid 1px #e7e5e6;
	width:128px;
	height: 178px;
	margin-bottom: 10px;
}







.ranking-list {
	width:278px;
	height: 100%;
	margin-bottom: 10px;
}
.ranking-list-title{ margin-bottom: 10px;;}
.ranking-list-title ul{
	height: 34px;
	background-color: #e74c3c;
	border-radius: 5px;
	color:#FFFFFF;
	text-align: center;
	padding: 0px 10px;
}
.ranking-list-title ul .left{
	height: 34px;line-height:34px;float: left;
	font-size: 0.16rem;
	font-family: "黑体";
}
.ranking-list-title ul .right{
	width:34px;height: 34px;line-height:34px;float: right;
	font-family: "黑体";
}
.ranking-list-title ul .right:hover{
	background-color: #d14536;
}
.ranking-list-title ul .action{
	background-color: #d14536;
}



.recommend-list-title ul{
	height: 34px;
	background-color: #2863b4;
	border-radius: 5px;
	color:#FFFFFF;
	text-align: center;
	padding: 0px 10px;
}
.recommend-list-title{ margin-bottom: 10px;;}
.recommend-list-title ul{
	height: 34px;
	background-color: #2863b4;
	border-radius: 5px;
	color:#FFFFFF;
	text-align: center;
	padding: 0px 10px;
}
.recommend-list-title ul .left{
	height: 34px;line-height:34px;float: left;
	font-size: 0.16rem;
	font-family: "黑体";
}
.recommend-list-title ul .right{
	width:34px;height: 34px;line-height:34px;float: right;
	font-family: "黑体";
}
.recommend-list-title ul .right:hover{
	background-color: #23569c;
}
.recommend-list-title ul .action{
	background-color: #23569c;
}

.recommend-list-center ul{
	
}
.recommend-list-center ul li.one{
	width:280px;
	height: 90px;
	position: relative;
	
}
.recommend-list-center ul li{
	width:280px;
	height: 43px;
	margin-bottom: 5px;
}


























.bd-list-title ul{
	height: 34px;
	background-color: #1bbc9b;
	border-radius: 5px;
	color:#FFFFFF;
	text-align: center;
	padding: 0px 10px;
}
.bd-list-title{ margin-bottom: 10px;;}
.bd-list-title ul{
	height: 34px;
	background-color: #1bbc9b;
	border-radius: 5px;
	color:#FFFFFF;
	text-align: center;
	padding: 0px 10px;
}
.bd-list-title ul .left{
	height: 34px;line-height:34px;float: left;
	font-size: 0.16rem;
	font-family: "黑体";
}
.bd-list-title ul .right{
	width:34px;height: 34px;line-height:34px;float: right;
	font-family: "黑体";
}
.bd-list-title ul .right:hover{
	background-color: #18a88a;
}
.bd-list-title ul .action{
	background-color: #18a88a;
}

.bd-list-center ul{
	
}
.recommend-list-center ul li.one{
	width:280px;
	height: 90px;
	position: relative;
	
}
.recommend-list-center ul li{
	width:280px;
	height: 43px;
	margin-bottom: 5px;
}

.footer{
				height: 165px;width:1266px;margin: 0 auto;
				padding-left: 100px;;
			}
			.footer .tar{
				width:290px;
				float:left;
			}
			.footer .tar .gy{
				height: 100px;
				width: 100%;
				border-right: 1px solid #d4d8d9;
			}
			.footer .tar .gy_over{
				border-right: 0px;
			}
			.footer .tar .gy li{
				width: 20%;
				line-height: 25px;
				padding-left: 15%;
				float: left;
			}
			.footer .tar .gy li a{
				color:#0e0d0d;
			}
			.footer .tar .gy li.title{
				color:#b6b6b6;
				width: 100%;
				padding-left: 15%;
			}