<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.BookMapper">


    <select id="findBookByUserId" resultType="com.qcacg.entity.BookEntity" parameterType="java.lang.Long">
SELECT
wor_book.BookId,
wor_book.BookName,
wor_book.BookCoverImage,
wor_book.UserId,
wor_book.Sort,
wor_book.BookIntroduction,
wor_book.BookUpdate,
wor_book.BookWordCount,
wor_book.BookStatus,
wor_book.BookHit,
wor_book.BookCollect,
wor_book.BookCopperCoins,
wor_book.BookSilverCoins
FROM
wor_book
ORDER BY
wor_book.BookUpdate DESC

    </select>

    <select id="findBookByBookUpDate" resultType="com.qcacg.entity.BookEntity" parameterType="java.lang.Long">
        SELECT
    wor_book.BookId,
    wor_book.BookName,
    wor_book.BookCoverImage
    FROM
    wor_book
    WHERE
    wor_book.BookStatus = '0'
    ORDER BY
    wor_book.BookUpdate DESC
    </select>

    <select id="queryBookForCheck" resultType="com.qcacg.entity.BookEntity">
        SELECT
wor_book.BookId,
wor_book.UserId,
wor_book.BookName,
wor_book.Sort,
wor_book.BookIntroduction,
wor_book.BookUpdate,
wor_book.BookCoverImage,
wor_book.BookWordCount,
wor_book.BookStatus,
wor_book.BookHit,
wor_book.BookCollect,
wor_book.BookCopperCoins,
wor_book.BookSilverCoins
FROM
wor_book
WHERE
wor_book.BookStatus = '2'
ORDER BY
wor_book.BookUpdate ASC

    </select>


    <insert id="insertBook" parameterType="com.qcacg.entity.BookEntity" useGeneratedKeys="true" keyProperty="bookId">
        <selectKey keyProperty="bookId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as bookId
        </selectKey>
        INSERT INTO wor_book (bookId,userId,bookName,sort,bookIntroduction,bookCoverImage)
        VALUES( #{bookId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{bookName,jdbcType=VARCHAR},#{sort,jdbcType=VARCHAR},#{bookIntroduction,jdbcType=VARCHAR},#{bookCoverImage,jdbcType=VARCHAR} )
    </insert>

    <update id="updateBook" parameterType="com.qcacg.entity.BookEntity">
        UPDATE wor_book SET bookName=#{bookName},sort=#{sort},bookIntroduction=#{bookIntroduction},bookCoverImage=#{bookCoverImage} WHERE bookId=#{bookId}
    </update>

    <update id="userUpdateBookStatus" parameterType="java.lang.Long">
        UPDATE wor_book SET bookStatus= '2' WHERE bookId=#{bookId}
    </update>

    <update id="adminUpdateBookStatus" parameterType="java.lang.Long">
        UPDATE wor_book SET bookStatus= '1' WHERE bookId=#{bookId}
    </update>
</mapper>