<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.BookCollectMapper">


    <select id="findBookCollectByUserId" resultType="com.qcacg.entity.BookEntity" parameterType="java.lang.Long">
    SELECT
    wor_bookcollect.BookId,
    wor_book.BookName,
    wor_book.BookCoverImage
    FROM
    wor_bookcollect ,
    wor_book
    WHERE
    wor_bookcollect.UserId = #{wor_bookcollect.UserId}
    GROUP BY
    wor_bookcollect.BookId
    ORDER BY
    wor_bookcollect.BookCollectDate DESC

    </select>



</mapper>