<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcacg.mapper.VolumeMapper">


  <select id="findVolumeByBookId" resultType="com.qcacg.entity.VolumeEntity" parameterType="java.lang.Long">
    SELECT
    wor_volume.VolumeId,
    wor_volume.VolumeName,
    wor_volume.VolumeWordCount
    FROM
    wor_volume
    WHERE
    wor_volume.BookId = #{wor_volume.BookId}
    ORDER BY
    wor_volume.VolumeId ASC

  </select>

  <update id="updateVolume" parameterType="com.qcacg.entity.VolumeEntity">
    UPDATE wor_volume SET volumeName=#{volumeName} WHERE volumeId=#{volumeId}
  </update>


</mapper>